@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Lato', sans-serif;
    background-color:#eaeaea;
}
.container-b{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.row-b {
    /* margin: 0 -5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap ;
}
  
.row-b:after {
    content: "";
    display: table;
    clear: both;
}
.card-b {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius:10px;
    cursor:pointer;
    width: 100%;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 15px;
}
.card-b .content-b{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}
.card-b .content-b .card-img-b{
    border-radius: 15px;
}
.card-b .content-b .card-body{
    padding: 20px 50px;
}
.card-b .content-b .card-btn-b{
    width: 80%;
    height: 50px;
    position: relative;
    top: -50px;
    border-radius: 8px;
    border: none;
    background: #9C4CFF;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
.card-b .content-b .profile-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-b .content-b .profile-b .profile-img-b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-b .content-b .profile-b .profile-date-b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-b .content-b .profile-b .profile-date-b i{
    font-size: 20px;
    color: red;
    margin-right: 3px;
}
.card-b .content-b .profile-b .profile-img-b img{
    width: 50px;
    border-radius: 100%;
    margin-right: 10px;
}
.card-b .content-b .card-title-b{
    font-size: 20px;
    font-weight: 700;
    padding: 25px 0px;
    text-align: left;
}
.card-b .content-b .cost-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.card-b .content-b .cost-b .newOld-cost-b span{
    font-size: 20px;
    color: red;
    font-weight: 700;
}
.card-b .content-b .cost-b .newOld-cost-b del{
    margin-left: 10px;
}
.card-b .content-b .back-b{
    border-radius: 15px;
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background-color: #f1f1f1e6;
    transition: .7s;
    z-index:1;
    padding:20px 35px;
    background: #9C4CFF;
    color: #fff;
    text-align: left;
}
.card-b:hover .content-b .back-b {
     left:0%;
}
.card-b .content-b .back-b .back-btn-b{
    width: 70%;
    padding: 15px;
    text-align: center;
    background: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 20px;
}
.card-b .content-b .back-b .back-btn1-b{
    width: 70%;
    padding: 15px;
    text-align: center;
    background: red;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    color: #fff;
    margin-top: 20px;
    transition: .7s;
}
.card-b .content-b .back-b .back-btn1-b:hover{
    box-shadow: 0 5px 25px #fff;
}
.card-b .content-b .back-b .des-b{
    font-size:16px;
}

.card-b .content-b .back-b .back-cost-b span{
    color: #fff;
}

@media (max-width: 564px){
    .card-b{
        width: 400px;
        margin-left: 1px;
    }
    .card-b .content-b .back-b .card-title-b{
        font-size: 18px;
    }
    .card-b .content-b .back-b .des-b{
        font-size: 13px;
    }
    .card-b .content-b .back-b .back-btn-b,
    .card-b .content-b .back-b .back-btn1-b{
        padding: 10px;
    }
}
@media (max-width: 460px){
    .card-b{
        width: 350px;
    }
}
@media (max-width: 385px){
    .card-b{
        width: 300px;
    }
}