@media screen and (max-width: 768px) {
    .navbar_ul{
        display: none;
        background-color: #FDCE32;
        width: 100%;
        position: absolute;
        text-align: center;
        top: 90px;
    }
    .fa-bars{
        display: inline-block;
    }
    .navbar_ul li{
        transition: all 1s;
    }
    .navbar_ul li:hover{
        background-color: #ff9d00;
    }
    .navbar_ul li:hover a{
        transition: all 0.5s;
        color: white;
    }
    .home .row{
        padding: 5%;
        flex-direction: column;
    }
    .home{
        height: 90vh;
        overflow: hidden;
    }
    .home .row .col img.homegirl{
        width: 100%;
    }

    .footer_row{
        display: flex;
        flex-direction: column;
    }

    .bottom_footer{
        justify-content: center;
    }
    .footer_nav{
        display: none;
    }

   

    .browse_category_cards{
        grid-template-columns: auto;
    }

    .browse_category_card{
        width: 350px;
    }

    .footer_row .col{
        width: 100%;
    }

    .about_row{
        display: flex;
        flex-direction: column;
    }
    .about_row .col{
        width: 100%;
    }
    .about_us_images img{
        width: 100%;
    }

}
@media screen and (min-width: 769px) and (max-width: 1024px){

    .home .row{
        padding: 5%;
        flex-direction: column;
    }
    .home{
        height: 90vh;
        overflow: hidden;
    }
    .home .row .col img.homegirl{
        width: 100%;
    }
    .navbar_ul li{
        display: inline-block;
    }

    .footer_row{
        display: flex;
        flex-direction: column;
    }

    .bottom_footer{
        justify-content: center;
    }
    .footer_nav{
        display: none;
    }

    .browse_category_cards{
        grid-template-columns: auto auto;
    }

    .browse_category_card{
        width: 350px;
    }

    .footer_row .col{
        width: 100%;
    }

    .about_row{
        display: flex;
        flex-direction: row;
    }
    .about_us_images img{
        width: 100%;
    }

    .about_us_matn{
        font-size: 10px;
    }

    .about_us_icon span{
        font-size: 10px;
    }

    .about_us_matn h2{
        line-height: 30px;
    }
}

@media screen and (min-width: 1025px){
    .home .row{
        padding: 5%;
        flex-direction: row;
    }
    .home{
        height: 90vh;
        overflow: hidden;
    }
    .navbar_ul li{
        display: inline-block;
    }
    .home .row .col{
        width: 60%;
    }
}