@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

.pad{
    padding: 5% 0;
}

a{
    text-decoration: none;
}

/* errorpage */

.erorpage_main{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.erorpage_main *{
    display: block;
}
.erorpage_main .errorpage_404{
    font-weight: 600;
    font-size: 250px;
}

.erorpage_main .errorpage_text{
    font-size: 30px;
}

/* navbar */

.navbar{
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: space-around;
    align-items: center;
}

.navbar_ul{
    display: flex;
}
.navbar_ul li{
    /* background-color: blue; */
    position: relative;
    margin: 20px;
    list-style: none;
}

.navbar_ul li:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid #FDCE32;
    transition: all 0.4s;
}


.navbar_ul li:hover:after{
    width: 100%;  
}

.navbar_ul li:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #FDCE32;
    transition: all 0.4s;
}


.navbar_ul li:hover:before{
    width: 100%;  
}


.navbar_ul li a{
    text-decoration: none;
    color: black;
}

.navbar_right_icons i{
    padding: 10px;
}

.navbar *:hover{
    cursor: pointer;
}
.fa-bars{
    display: none;
    background-color: #FDCE32;
    /* border-radius: 5px; */
}

/* home */

.home{
    background: linear-gradient(to top right, #ff9d00, #FDCE32);
    height: 88vh;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.row{
    display: flex;
    align-items: center;
}

.home_title{
    font-size: 60px;
}

.home_title_thin{
    font-size: 60px;
    font-weight: 400;
}

.main_buttoncha{
    background-color: #FF6951;
    padding: 10px 20px;
    border: none;
    outline: none;
    margin: 10% 0;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.main_buttoncha a{
    color: white;
}



/* footer started */

.footer_center{
    text-align: center;
    padding: 5% 0 0 0;
}

.footer{
    color: white;
    background-color: #453E79;
}

.footer_row .col{
    padding: 20px;
    width: 30%;
}

.footer_row .col a{
    transition: all 0.4s;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.514);
}

.footer_row .col li:hover a{
    color: white;
}


.footer_row .col li{
    line-height: 30px;
    list-style: none;
}

.bottom_footer{
    justify-content: space-between;
}

.bottom_footer .col ul{
    display: flex;
}

.bottom_footer .col ul li{
    padding: 20px;
    list-style: none;
}

.bottom_footer .col ul li a{
    text-decoration: none;
    color: white;
}



/* footer finished*/

/* browse category home */

.browse_category{
    text-align: center;
    padding-top: 5%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.browse_category .home_theme, .container .home_theme, .worldclass .home_theme{
    color: #FF6A52;
    font-weight: 600;
}

.browse_category_cards{
    width: 100%;
    padding: 3% 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.browse_category_card{
    width: 250px;
    margin: 10px;
    padding: 20% 10%;
    border-radius: 20px;
    box-shadow: rgba(35, 0, 51, 0.12) 0px 2px 4px 0px, rgba(65, 2, 121, 0.32) 0px 2px 16px 0px;
    transition: all 0.4s;
}

.browse_category_card h2{
    margin-bottom: 30px;
}
.browse_category_card small{
    color: grey;
}
.browse_category_card i{
    padding: 20px;
}

.browse_category_card:hover{
    cursor: pointer;
    color: white;
    background-color: #453E79;
}
.browse_category_cards a{
    color: black;
}

.browse_btn{
    color: white;
    background-color: #65B337;
    justify-self: center;
    width: 200px;
    transition: all 0.4s;
    padding: 10px 20px;
    margin-bottom: 7%;
    border-radius: 25px;
}

.browse_btn:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/* browse category home finish */

/* about_us */



.about_us{
    padding: 2%;
    background: linear-gradient(to top right, #ff9d00, #FDCE32);
}

.about_row .col{
    width: 50%;
}

.about_us_images img{
    width: 70%;
    float: right;
}
.about_us_matn{
    padding: 3%;
}
.about_us_matn h2{
    line-height: 50px;
}
.about_us_matn small{
    color: white;
}

.about_us_icon span{
    font-size: 20px;
    font-weight: bold;
}
.about_us_icon{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.about_us_icons{
    margin-bottom: 30px;
}

.about_us_icon i{
    margin-right: 20px;
    padding: 20px;
    background-color: white;
    color: green;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about_us_matn p{
    margin: 30px 0;
}

/* about_us finished */


/* featured Courses */

.featured_courses_title{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    margin: 3% 0;
}

.featured_courses_tabs span{
    position: relative;
    padding: 10px;
    transition: all 0.4s;
    line-height: 0;
}

.featured_courses_tabs span:hover{
    cursor: pointer;
}


.featured_courses_tabs span:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid #FDCE32;
    transition: all 0.4s;
}


.featured_courses_tabs span:hover:after{
    width: 100%;  
}

.featured_courses_tabs span:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #FDCE32;
    transition: all 0.4s;
}


.featured_courses_tabs span:hover:before{
    width: 100%;  
}

.active{
    border-bottom: 3px solid #FDCE32;
}


.featured_courses_card{
    display: none;
}

.featured_courses_card_active{
    display: block;
}

.featured_courses_card_active{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}
.featured_courses_card_active .cardcha{
    margin: 10px;
    background-color: #453E79;
    padding: 30px;
    border-radius: 20px;
    color: white;
}


.div_for_home_main_btn{
    text-align: center;
    width: 100%;
    margin-top: 40px;
}


/* featured Courses finish*/


/* membership */

.membership{
    color: white;
    background: rgb(48,0,110);
    background: linear-gradient(103deg, rgba(48,0,110,1) 0%, rgba(156,76,255,1) 100%);
}

.membership_row{
    display: flex;
    flex-direction: row;
}

.membership_mini_row{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}

.membership_mini_row .membership_col{
    position: relative;
    color: black;
    margin: 30px;
    background-color: white;
    padding-right: 5%;
    border-radius: 20px;
    z-index: 2;
}
.membership_mini_row .membership_col:after{
    content: '';
    border: 3px dashed rgba(255, 255, 255, 0.438);
    position: absolute;
    width: 400px;
    height: 100px;
    top: 20px;
    left: 35px;
    border-radius: 20px;
    z-index: 3;
}

.membership_col .row .col i{
    padding: 30px;
    color: #65B337;
}


/* membership finish */

/* Testimonials */

.testimonials{
    text-align: center;
}


/* Testimonials finish */

/* worldclass */

.worldclass{
    text-align: center;
}

.worldclass_cards{
    padding: 3% 0%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* worldclass finish */

/* testimonials */

.testimonials{    
    background: linear-gradient(to top right, #ff9d00, #FDCE32);
}

.study__cards{
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.study__card{
    position: relative;
    margin: 0 50px;
    background-color: white;
    display: flex;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    transition: all 0.4s;
}

.study__card__matn{
    display: grid;
    align-items: center;

}


.study__card__matn{
    text-align: left;
    padding: 50px;
}
.study_mini_btn{
    background-color: #FF6951;
    width: 50%;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 10px;
}

.study__card_foot span{
    margin: 20px;
    margin-left: 0;
}

.study__card_foot i {
    padding: 10px;
    padding-left: 0;
    color: #FF6951;
}

.study__card__overlay{
    background-color:#453E79;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    transition: all 0.4s;
    border-radius: 25px;
    display: flex;
    align-items: center;
}




.study__card__overlay__matn{
    color: white;
    padding: 30px;
    background-color: #453E79;
    max-width: 100%;
    height: 100%;
    text-align: start;
}

.study__img{
    width: 100%;
}


.study__card__overlay__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px 0 0 25px;
    width: 60%;
    height: 100%;
    color: #65B337;
    font-size: 50px;
}

.study__card:hover .study__card__overlay{
    left: 0;
}


/* testimonials finish */

*{
    /* border: 1px solid red; */
}


